@import "_colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600&display=swap");

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $bgTransparent;
}

::-webkit-scrollbar-thumb {
  &:hover {
    background-color: $darkGrayColor;
  }
  background-color: $lightGrayColor;
  border-radius: 8px;
}

html {
  scroll-behavior: unset !important;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Exo", sans-serif;
}

.btn-blue {
  &:hover {
    @extend .text-dark-blue;
    background-color: $blueColor;
  }
  @extend .text-light;
  background-color: $bgTransparent;
  border: 1px solid $blueColor;
}

.btn-dark-blue {
  &:hover {
    @extend .text-dark-blue;
    background-color: $blueColor;
  }
  @extend .text-dark-blue;
  background-color: $bgTransparent;
  border: 1px solid $bgDarkColor;
}

input:focus {
  border: 1px solid $blueColor !important;
  box-shadow: 0px 0px 2px 2px $blueColor !important;
}

.nav-height {
  height: 45px;
}

@mixin voteCircle($circleWidth, $circleHeight, $borderWidth) {
  width: $circleWidth;
  height: $circleHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgDarkColor;
  color: $whiteColor;
  border: $borderWidth solid $whiteColor;
  border-radius: 50%;
}

.circle {
  @include voteCircle(40px, 40px, 3px);
}

.img-container {
  & {
    position: relative;
  }
  .home-rate-circle {
    @extend .circle;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.details-rate-circle {
  @include voteCircle(60px, 60px, 4px);
}

.over-layer {
  background-color: rgba($bgDarkColor, $alpha);
}

.company-logo {
  width: 100px;
}

.sub-title {
  font-size: 12px !important;
}

.scroll-bar {
  & {
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 435px;
  }
  .card-container {
    width: 180px !important;
    min-width: 180px !important;
    @extend .pointer;
    .home-img-dimensions {
      height: 270px;
    }
  }
  .placeholder-container {
    width: 180px;
    max-width: 180px;
    height: 270px;
    .placeholder-title {
      width: 120px;
      height: 25px;
    }
    .placeholder-date {
      width: 60px;
      height: 12px;
    }
  }
}

.bg-dark-blue-op {
  background-color: rgba($color: $bgDarkColor, $alpha: 0.7) !important;
}

.transition {
  transition: all 0.2s;
}

.social-link {
  width: 45px;
  height: 45px;
  background-color: $whiteColor;
  border-radius: 50%;
  .imdb-color {
    color: #f3ce13;
    @extend .transition;
  }
  .facebook-color {
    color: #3b5889;
    @extend .transition;
  }
  .twitter-color {
    color: #00acee;
    @extend .transition;
  }
  .instagram-color {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @extend .transition;
  }
  .imdb-color,
  .facebook-color,
  .twitter-color,
  .instagram-color {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.loader-container {
  & {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    inset: 0;
    z-index: 999;
  }
  .loader {
    --path: #1c2334;
    --dot: #24baef;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      display: block;
      background: var(--dot);
      top: 37px;
      left: 19px;
      transform: translate(-18px, -18px);
      animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    svg {
      display: block;
      width: 100%;
      height: 100%;
      rect {
        fill: none;
        stroke: var(--path);
        stroke-width: 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
      }
      rect {
        stroke-dasharray: (256 / 4 * 3) (256 / 4) (256 / 4 * 3) (256 / 4);
        stroke-dashoffset: 0;
        animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
    }
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}
